# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3
local_settings.py
staticfiles/
media/
*.log

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
